.sidenav{
    background-color: #b5513f ;
    width: 200px;
}
.sidenav a {
    color: rgb(236, 203, 18);
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: gray;
}

